<label>Fotoğraf URL</label>
<input type = "url" name = "img_url" value = "<%= image.url%>">
<label>Kategori</label>
<select id="category_names" name="categories">
    <option value="top">Üst</option>
    <option value="bottom">Alt</option>
</select>
<!--<input type = "text" name = "category" value = "<%= image.category%>">-->
