<div class = "form-row form-row-new">
    <div class = "form-item form-item-no-grow-new">
        <label>
            Kıyafet Fotoğrafı
        </label>
        <br>
        <input type = "file" name = "clothingImage" class = "filepond image-view">
    </div>
    <div class = "form-item form-item-no-grow">
        <label>Kategori</label>
        <select id="category_names" name="categories">
            <option value="top">Üst</option>
            <option value="bottom">Alt</option>
        </select>
    </div>
</div>

