<label>Kategori</label>
<select id="category_names" name="categories">
    <option value="top">Üst</option>
    <option value="bottom">Alt</option>
</select>
<div>
    <label>
        Kıyafet Fotoğrafı
    </label>
    <input type = "file" name = "clothingImage">
</div>
<!--<input type = "text" name = "category" value = "<%= image.category%>">-->
