<script>
    $('#categories').val("<%= searchOptions.category%>");
</script>
<h2>Görsel Ara</h2>
<form action = "/images" method = "GET">
    <label>Kategori</label>
    <select id="category_names" name="categories">
        <option value="top">Üst</option>
        <option value="bottom">Alt</option>
        <option value="all">Hepsi</option>
    </select>
    <button type "submit">Ara</button>
</form>
<div>
    <% images.forEach(image => {%>
        <img width="140" height="150" src = "<%= image.clothingImagePath%>">
    <% }) %>
</div>
