<script>
    $('#categories').val("<%= searchOptions.category%>");
</script>
<h2 class = "page-header">Görsel Ara</h2>
<form action = "/images" method = "GET">
    <div class = "form-row">
        <div class = "form-item">
            <label>Kategori</label>
            <select id="category_names" name="categories">
                <option value="hat">Şapka</option>
                <option value="top">Üst</option>
                <option value="bottom">Alt</option>
                <option value="shoes">Ayakkabı</option>
                <option value="accessory">Aksesuar</option>
                <option value="all">Hepsi</option>
            </select>
        </div>

    </div>
    <div class="form-row form-row-end btn-row">
        <button class = "btn btn-primary" type = "submit">Ara</button>
    </div>
</form>

<%- include('../partials/imageGrid', {images : images, large : true})%>

