<h2 class = "page-header">Yeni Kıyafet</h2>
<br>
<div class = "form-row">
    <input type="number" min = 2 max = 5 name = "clothesCount" id = "clothesCount" value = 2>
    <br>
    <button id = "addFieldButton" class = "btn">Ekle</button>
</div>
<br>
<script>
    document.getElementById("addFieldButton").addEventListener("click", addImageFields);
</script>
<form id = "addOutfitForm" action = "/images" method = "POST">
    <%- include('_form_fields') %>
    <div class = "form-row form-row-end btn-row">
        <button class = "btn btn-1 btn-1c" type = "submit">Oluştur</button>
    </div>
    
    
</form>