<header>
    <nav>
        <a href = "/">Kombin Etiketleme Sistemi</a>
        <ul>
            <li><a href = "/images">Fotoğraflar</a></li>
            <li><a href = "/images/new">Fotoğraf Ekle</a></li>
            <li><a href = "/about">Hakkımızda</a></li>
        </ul>
    </nav>
</header>