<form action = "/register" method="POST">
    <div>
        <label for = "email">Email Adresi</p>
        <input id = "email" name = "email" type = "email">
    </div>
    <div>
        <label for = "password">Şifre</p>
        <input id = "password" name = "password" type = "password">
    </div>
    <br>
    <div>
        <button type = "submit">Kayıt Ol</button>
    </div>
</form>