:root{
    --image-view-width : 200px;
    --image-view-width-large : 275px;
    --image-view-aspect-ratio : 0.80;
}

.image-view{
    --width : var(--image-view-width);
    --height : calc(var(--image-view-width) / var(--image-view-aspect-ratio));
}

.image-view-large{
    --width : var(--image-view-width-large);
}

.image-grid {
    display: grid;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 10rem;
    grid-template-columns: repeat(auto-fill, var(--image-view-width));
}

.image-grid-large {
    grid-template-columns: repeat(auto-fill, var(--image-view-width-large));
}

.image-grid-home {
    justify-content: center;
    row-gap: 2rem;
}
