<h2 class = "page-header">Hakkımızda</h2>
<p>Bu site TÜBİTAK 2209-A Projesi kapsamında toplumun giyim tercihleri hakkında bilgi alma amacıyla oluşturulmuştur. Gerçekleştirdiğiniz işlemlerin
    kaydı anonim olarak tutulmaktadır.
</p>